:root {
  --primary-color:#c33764;
  --secondary-color:#1d2671;
  --overlay-color:rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html {
  font-size: 85.5%;
}

body {
  background-color: #c33764;
  font-family:'Catamaran', sans-serif;
  line-height: 1.6;
  color: white;
  font-size: 1.5rem;

}

/* Media Query for html & body */

@media only screen and (max-width: 500px) {
  html,body {
    width:100%;
  }
}


h1, h2, h3, h4 {
  line-height: 1.3;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 0px;
}

a {
  color:var(#1d2671);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

}

.navbar .container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  text-align: center;
}

.navbar .text {
  font-size: 2rem;
}

.navbar .nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav a {
  padding: 0 1rem;
}

.navbar .nav a:hover {
color: #333;
}

/* section-a */

.section-a .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.section-a h1 {
   font-size: 3rem;
   color: var(#c33764);
}

.section-a p {
  margin: 1rem 0;
  /* position: relative; */
  display: flex;
  margin-bottom: 70px;
}

.section-a .container a:first-child {
  grid-row-start: 1;
  grid-row-end: 2;
}

.section-a {
  margin: 1rem 0;
 
}

/* Media queries for scetion-a */
@media (max-width: 700px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container div h1 p:first-child {
    order: 1;
   
  }

  .section-a .container div:last-child {
    order:-2;
  }

  .section-a img {
    width: 80%;
    margin: auto;
  }
}

@media (max-width:500px){
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto,25em)) 1fr;
  }
}

/* anchor class btn style */
.btn {
  display: inline-block;
  background: var(#1d2671);
  /* color: #fff; */
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 30px;
}

/* .btn:hover {
  background: #1d2671;
} */

/* section-b */
.section-b {
  margin: 1rem 0;
  
}

.section-b .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.section-b h1{
  font-size: 3rem;
   color: var(#1d2671);
}

.section-b p {
  margin: 1rem 0;
  /* position: relative; */
  display: flex;
  margin-bottom: 70px;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.task-list{
  width: 400px;
  padding: 40px;
}
.task-list h2{
  color: #fff;
  text-transform: uppercase;
}
.task{
  display: flex;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}

.task input{
  position: absolute;
  visibility: hidden;
}

.task i{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  margin-right: 14px;
  color: transparent;
}

.text{
  font-size: 18px;
  color: #fff;
}

.task input:checked ~ i{
  color: rgba(0, 0, 0, 0.7);
}

.task input:checked ~ .text{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.7);
}
/* Media queries for section-b */
@media (max-width:700px){
  .section-b .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-b .container div h1 p:first-child {
    order: 1;
  }

  .section-b img {
    width: 80%;
    margin: auto;
  }
}



/* Social Buttons :Facebook, Twitter, Instagram */
.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

/* section-footer */ /* Media Query */

.section-footer{
    background:var(#1d2671);
    color: #fff;
    padding: 2rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
}

.section-footer h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer{
    line-height: 1.9;
    color: #fff;
    
}

.section-footer a > i {
  color: #fff;
  
}

.section-footer .container .copyright p {
 display: grid;
 justify-content: center;
 text-align: center;
 
}

@media (max-width: 700px) {
  .section-footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* email-form */ /* Media Query */

.email-form {
    width: 100%;
    display:inline-block;
    background-color:#1d2671;
    position:relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}
.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    /* background-color: transparent; */
    font-family:inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background-color: #fff;
    font-size: 1 rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border:0;
    color:#1d2671;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}


/* About page */

/* .wunderappteam{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #1d2671;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.team{
  background: #fff;
  padding: 30px;
}
.team img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #1d2671;
  margin-bottom: 20px;
} */

.team-section{
  background: #c33764;
  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  color: #30336b;
  overflow: hidden;
}
.team-section h1{
  font-size: 40px;
  text-transform: uppercase;
  /* display: inline-block; */
  border-bottom: 4px solid;
  padding-bottom: 10px;
  margin: 26px auto;
}

.row {
    display: block;
    justify-content: center;
    text-align: center;
}

.col {
    box-sizing: border-box;
    
   
}
.pe{
  float: left;
  width: calc(100% / 3);
  overflow: hidden;
  padding: 40px 0;
  transition: 0.4s;
}
.pe:hover{
  background: #ddd;
}
.pe img{
  width: 300px;
  height: 300px;
}
.p-name{
  margin: 20px 0;
  text-transform: uppercase;
}
.p-des{
  font-style: italic;
  color:#1d2671;
}
.p-sm{
  margin-top: 15px;
}
.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.p-sm a:hover{
  transform: scale(1.3);
}
.p-sm a i{
 
  line-height: 60px;
}
@media screen and (max-width:500px) {
  .pe{
    width: 100%;
  }
} 



/* About page  media queries*/

@media screen and (max-width:700px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
